@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body{
	background-color: #f4f4f0;
}

:root {
  --primary-color: #faf506;
  --light-primary-color: rgba(250, 245, 6, 0.4);
  --heading-color: #181810;
  --content-color: #6c7280;
  --highlight-color: #f7f6be;
  --font-SF-Pro: "SF Pro", sans-serif;
  --font-JetBrains-Mono: "JetBrains Mono", monospace;
  --font-Spline-Sans: "Spline Sans", sans-serif;
}


::selection {
  background: #faf506; /* The background color of the highlighted text */
  color: black;      /* The text color when highlighted (optional) */
}


.primary-color {
	color: var(--primary-color);
}

.content-color {
	color: var(--content-color);
}

.heading-color {
	color: var(--heading-color);
}

.highlight-color {
	color: var(--highlight-color);
}

.font-SF-Pro {
	font-family: var(--font-SF-Pro);
}

.font-JetBrains-Mono {
	font-family: var(--font-JetBrains-Mono);
}

.font-Spline-Sans {
	font-family: var(--font-Spline-Sans);
}

@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
